h1{
    color:blue;
    font-size: 24px;
    text-align: center;
}

body{
    background-color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    color:aliceblue;
}